@import './assets/fonts/fonts.css';

body {
  background-color: #DCEDFF;
  font-family: 'Gotham Rounded';
}

.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 300;
}

.card-cat {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border: 0;
}

.card-cat:hover {
  cursor: pointer;
  box-shadow: 0 .8rem 1rem rgba(0,0,0,.15);
}

.heroText {
  font-weight: 300;
  font-size: 1.2rem;
}

.modal-body img {
  max-width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
}

section .subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.page-content {
  min-height: calc(100vh - 10rem);
}
/* .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 300;
} */

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
